@model IEnumerable<TownOfStettler.Models.InuseMonitor>

@{
    ViewData["Title"] = "Index";
}

<h1>Inuse Monitor Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Device)*@Device ID
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Monitor)*@Monitor ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.DeviceIdWithName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.MonitorIdWithName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
